
form {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  justify-content: start;
  font-size: 1.2rem;
}

form > input {
  font-size: 1.5rem;
}

ul {
  list-style-position: inside;
  text-align: left;
}

ul > li {
  display: flex;
  
}

h1 {
  margin-bottom: 6rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: spin infinite 5s ease-in-out alternate;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
